# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/Godeps/

# Linux
*~
.fuse_hidden*
.directory
.nfs*

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
e all local history of files
.history
.ionide

# Windows
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk